<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @api_page.title %>
</p>

<p>
  <b>Content:</b>
  <%= @api_page.content %>
</p>

<p>
  <b>Published on:</b>
  <%= @api_page.published_on %>
</p>


<%= link_to 'Edit', edit_api_page_path(@api_page) %> |
<%= link_to 'Back', api_pages_path %>
